body {
    font-family: 'Playfair Display', serif;
    font-size: 1rem;
    margin: auto;
    min-width: 320px;
    max-width: 1024px;
    background-color: #eeeeee;
}
blockquote {
font-family: 'Dancing Script', cursive;
font-size: 1.5rem;
color: #555555;
}
hr {
    border: 0.5px, dotted #bbbbbb;
}
#main {
    width: 85%;
    height: 100%;
    margin: auto;
    background-color: #eeeeee;
    padding: 20px;
    /* box-shadow: 8px 8px 10px hsl(0, 8%, 80%); */
    /* box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px; */
     box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px; 
}
#title {
    text-align: center;
    font-family: "Pinyun Script", cursive;
    font-size: 4rem;
}
#img-div {
    text-align: center;
    margin: auto;
}
#img-div img {
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 5px 10px hsl(0%, 0%, 80%);
}
#img-caption {
    margin-top: 5px;
    font-size: 0.9rem;
    font-style: italic;
}
#tribute-info {
    text-align: center;
    width: 75%;
    margin: auto;
}
#tribute-info ul {
    text-align: left;
}
#quote {
    margin: 70px auto 50px auto;
    background-repeat: no-repeat;
    background-size: contain;
}
#intro {
    margin: 30px auto 30px auto;
    font-size: 1rem;
    font-style: italic;
    font-weight: bold;
}


/* @media screen and (max-width: 440px) {
  #title {
    text-align: center;
    font-family: "Pinyun Script", cursive;
    
  }  */
  #img-caption { 
    font-size: 0.6rem;     
} 
#intro {
    font-size: 0.8rem;
}

/*
}
 @media screen and (min-width: 441px) and (max-width: 768px) {
    #title {
        text-align: center;
    font-family: "Pinyun Script", cursive;
     
    } */

    #img-caption { 
        font-size: 0.8rem;     
}
#intro {
    font-size: 0.9rem;
}

